# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [75]:
import pandas as pd
import seaborn as sbn

data_frame = pd.read_csv('demo01.csv')
print(data_frame.info())
print(data_frame.isna().sum())
print(data_frame['mau'].describe().transpose())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB
None
sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64
count     16650
unique        2
top       False
freq      16260
Name: mau, dtype: object

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [76]:
data_frame['idade'] = data_frame['idade'].astype(int)
data_frame['tempo_emprego'] = data_frame['tempo_emprego'].astype(int)
data_frame['qt_pessoas_residencia'] = data_frame['qt_pessoas_residencia'].astype(int)
qtd_categorias = []
for variavel in data_frame:
    x = data_frame[variavel].unique()
    y = x.__len__()
    z = (variavel,y,data_frame[variavel].dtype)
    qtd_categorias.append(z)
print(qtd_categorias)
pd.DataFrame(qtd_categorias,columns =['variavel','qtd_categorias','var_type'])

[('sexo', 2, dtype('O')), ('posse_de_veiculo', 2, dtype('O')), ('posse_de_imovel', 2, dtype('O')), ('qtd_filhos', 8, dtype('int64')), ('tipo_renda', 5, dtype('O')), ('educacao', 5, dtype('O')), ('estado_civil', 5, dtype('O')), ('tipo_residencia', 6, dtype('O')), ('idade', 47, dtype('int32')), ('tempo_emprego', 44, dtype('int32')), ('possui_celular', 1, dtype('int64')), ('possui_fone_comercial', 2, dtype('int64')), ('possui_fone', 2, dtype('int64')), ('possui_email', 2, dtype('int64')), ('qt_pessoas_residencia', 9, dtype('int32')), ('mau', 2, dtype('bool'))]

                 variavel  qtd_categorias var_type
0                    sexo               2   object
1        posse_de_veiculo               2   object
2         posse_de_imovel               2   object
3              qtd_filhos               8    int64
4              tipo_renda               5   object
5                educacao               5   object
6            estado_civil               5   object
7         tipo_residencia               6   object
8                   idade              47    int32
9           tempo_emprego              44    int32
10         possui_celular               1    int64
11  possui_fone_comercial               2    int64
12            possui_fone               2    int64
13           possui_email               2    int64
14  qt_pessoas_residencia               9    int32
15                    mau               2     bool

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [77]:
data_frame_ml = pd.get_dummies(data_frame, columns=['estado_civil','educacao','tipo_renda','sexo','posse_de_veiculo','posse_de_imovel'])
data_frame_ml.drop(columns=['tipo_residencia','tempo_emprego','idade'],inplace=True)
data_frame_ml

,qtd_filhos,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,estado_civil_Civil marriage,estado_civil_Married,estado_civil_Separated,...,tipo_renda_Pensioner,tipo_renda_State servant,tipo_renda_Student,tipo_renda_Working,sexo_F,sexo_M,posse_de_veiculo_N,posse_de_veiculo_Y,posse_de_imovel_N,posse_de_imovel_Y
0,0,1,0,0,0,2,False,0,1,0,...,0,0,0,1,0,1,0,1,0,1
1,0,1,0,1,1,1,False,0,0,0,...,0,0,0,0,1,0,1,0,0,1
2,0,1,0,1,1,1,False,0,0,0,...,0,0,0,0,1,0,1,0,0,1
3,0,1,1,1,1,2,False,0,1,0,...,0,0,0,1,0,1,0,1,0,1
4,0,1,0,0,0,2,False,0,1,0,...,0,0,0,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,0,1,0,0,0,2,True,1,0,0,...,0,0,0,1,1,0,1,0,0,1
16646,0,1,1,1,0,2,True,0,1,0,...,0,0,0,0,1,0,1,0,0,1
16647,0,1,1,0,0,2,True,0,1,0,...,0,0,0,1,0,1,0,1,0,1
16648,0,1,1,0,0,2,True,0,1,0,...,0,0,0,1,0,1,0,1,0,1
16649,0,1,0,1,1,2,True,0,1,0,...,1,0,0,0,1,0,1,0,0,1

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [84]:
data_frame_cruzado_email = pd.crosstab(data_frame['possui_email'],data_frame['mau'])
data_frame_cruzado_veiculo = pd.crosstab(data_frame['posse_de_veiculo'],data_frame['mau'])

data_frame_cruzado_email_pct_lin = data_frame_cruzado_email.div(data_frame_cruzado_email.sum(axis = 1), axis = 0)
data_frame_cruzado_veiculo_pct_lin = data_frame_cruzado_veiculo.div(data_frame_cruzado_veiculo.sum(axis = 1), axis = 0)

display(data_frame_cruzado_email_pct_lin)
display(data_frame_cruzado_veiculo_pct_lin)
print('O df Posse de veiculo parece mais poderosa para prever a probabilidade de mau = 1,com 0.022095 de percentual de default contra 0.020270 da posse de email ')

mau              False     True
possui_email
0             0.976269  0.023731
1             0.979730  0.020270

mau                  False     True
posse_de_veiculo
N                 0.975732  0.024268
Y                 0.977905  0.022095

 Posse de veiculo parece mais poderosa para prever a probabilidade de mau = 1,com 0.022095 de percentual de default contra 0.020270 da posse de email

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [87]:
data_frame_ml.to_csv('data_frame_ml.csv')